<launch>

    <!-- open openVSLAM node  -->
    <node name="openvslam_node" pkg="openvslam" type="run_localization" 
    args="-v $(find openvslam)../../orb_vocab/orb_vocab.dbow2 -c $(find openvslam)../../camera_config/tello_mono_undistorted.yaml --map-db /home/jy/AIGC.msg"
    output="screen"/>


</launch>